<tr>
        <td>{{sectionName}}</td>
        <td class="text-center">{{studentID}}</td>
        <td>{{studentName}}</td>
        <td class="text-right">Php {{getPrice remainingBalance}}</td>   
</tr>