<div class="container">

    <div class="row mb-2">
        <div class="col-3">

            <div class="list-group mt-2 shadow bg-light">
                <p class="list-group-item list-group-item-action bg-primary text-white">
                    Users
                </p>
                <a href="user_Admin.html" class="list-group-item list-group-item-action">Admin</a>
                <a href="user_Teacher.html" class="list-group-item list-group-item-action">Teachers</a>
                <a href="/a/users/students" class="list-group-item list-group-item-action">Students <span
                        class="badge badge-danger" hidden>!</span></a>
                <a href="user_Parent.html" class="list-group-item list-group-item-action">Parents <span
                        class="badge badge-danger" hidden>!</span></a>
            </div>

            <div class="list-group mt-2 shadow bg-light">
                <p class="list-group-item list-group-item-action bg-primary text-white">
                    Schedules
                </p>
                <a href="/a/sched/AddClasses" class="list-group-item list-group-item-action">Add Classes</a>
                <a href="sched_classSched.html" class="list-group-item list-group-item-action">Class Schedules</a>
                <a href="sched_academicCalendar.html" class="list-group-item list-group-item-action">Academic
                    Calendar</a>
                <a href="sched_currentSchoolYear.html" class="list-group-item list-group-item-action">Current School
                    Year</a>
            </div>

            <div class="list-group mt-2 shadow bg-light">
                <p class="list-group-item list-group-item-action bg-primary text-white">
                    Fees
                </p>
                <a href="fees_Tuition.html" class="list-group-item list-group-item-action">Tuition Fees</a>
                <a href="fees_Miscellaneous.html" class="list-group-item list-group-item-action">Miscellaneous Fees</a>
                <a href="fees_Other.html" class="list-group-item list-group-item-action">Other Fees</a>
                <a href="fees_Additional.html" class="list-group-item list-group-item-action">Additional Fees</a>
                <a href="fees_UponEnrollment.html" class="list-group-item list-group-item-action">Upon Enrollment</a>
            </div>

            <div class="list-group mt-2 shadow bg-light">
                <p class="list-group-item list-group-item-action bg-primary text-white">
                    Documents
                </p>
                <a href="documents_StudentDocument.html" class="list-group-item list-group-item-action">Student
                    Documents</a>
                <a href="documents_StudentAgreement.html" class="list-group-item list-group-item-action">Student
                    Agreements</a>
            </div>

            <div class="list-group mt-2 shadow bg-light">
                <p class="list-group-item list-group-item-action bg-primary text-white">
                    My Account
                </p>
                <a href="#" class="list-group-item list-group-item-action">My Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Change Password</a>
                <form action="/logout" method="post"><a class="list-group-item list-group-item-action"
                        onclick="this.parentNode.submit();">Logout</a></form>
            </div>

        </div>