<tr id="{{userID}}">
    {{!--  --}}
    <th scope="row" class="text-center">{{userID}}</th>
    <td>{{lastName}}, {{firstName}}</td>
    {{!-- 
    
    --}}
    <td>
        <a href="/a/users/PAccount" class="btn btn-outline-primary">View Account</a>
    </td>
    <td>
        <a href="/a/users/AProfile" class="btn btn-outline-primary">View Profile</a>
    </td>
</tr>