<div class="container">

            <div class="row mb-2">
                 
                <div class="col-3">

                    <div class="list-group mt-2 shadow bg-light">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Payment
                        </p>
                        <a href="enroll_payOnline.html" class="list-group-item list-group-item-action">Credit Card</a>
                        <a href="enroll_payBank.html" class="list-group-item list-group-item-action">Upload Bank Receipt</a>
                    </div>

                    <div class="list-group mt-2 shadow bg-light">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Transactions
                        </p>
                        
                        <a href="viewstatement.html" class="list-group-item list-group-item-action">Statement Of Accounts</a>
                        <a href="viewbreakdown.html" class="list-group-item list-group-item-action">Breakdown Details</a>
                    </div>

                    <div class="list-group mt-2 shadow bg-light">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Schedule
                        </p>
                        <a href="academicCalendar.html" class="list-group-item list-group-item-action">View Academic Calendar</a>
                        <a href="classSched.html" class="list-group-item list-group-item-action">View Student Schedule</a>
                    </div>

                    <div class="list-group mt-2 shadow bg-light">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Grades
                        </p>
                        <a href="viewgrades.html" class="list-group-item list-group-item-action">View Grades</a> 
                    </div>

                    <div class="list-group mt-2 shadow bg-light">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            My Account
                        </p>
                        <a href="newChild.html" class="list-group-item list-group-item-action">New Child</a>
                        <a href="/p/acc/EnrollChild" class="list-group-item list-group-item-action">Enroll Child (Old Students)</a>
                        <a href="viewprofile.html" class="list-group-item list-group-item-action">My Profile</a>
                        <a href="editpassword.html" class="list-group-item list-group-item-action">Change Password</a>
                        <form action="/logout" method="post"><a class="list-group-item list-group-item-action"
                        onclick="this.parentNode.submit();">Logout</a></form>
                    </div>

                </div>
