{{!-- This is for editting student agreements, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

            <div class="col-9">
                            <div class="shadow">
                                 <div class="list-group mt-2 shadow bg-light">
                                    <div class="container">
                                        <h1 class="display-4 text-center">Edit Student Agreement</h1>
                                    </div>
                                    <div class="container">
                                        <form>
                                            <div class="form-group">
                                                <label for="AgName">Agreement Name</label>
                                                <input type="text" class="form-control" id="AgName" placeholder="" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="OrAg">Order Arrangement</label>
                                                <input type="number" class="form-control" id="OrAg" placeholder="">
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-6 mb-5 d-flex justify-content-end">
                                                        <button type="button" class="btn btn-outline-primary mb-4" data-toggle="modal" data-target="#exampleModal">Submit</button>
                                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Edit in Student Agreement Recorded
                                                                    
                                                                    

                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 d-flex justify-content-start">
                                                        <a href="documents_StudentAgreement.html" class="btn btn-outline-secondary" style="margin-bottom: 71px;">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>