{{!-- This is for viewing all of the student agreements, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <p class="font-weight-bold">Student Agreements</p>
                                    </div>
                                    
                                    <div class="col-6 mt-3">
                                        <a href="documents_newStudentAgreement.html" class="btn btn-primary">New Agreement</a>
                                    </div>
                                </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Agreement Name</th>
                                            <th scope="col">Order Arrangement</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">I agree to receive SMS notifications thru the school's textblast system, and emails for announcements and newsletters.</th>
                                            <td>6</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">I am allowing my child to commute in coming to and going out of the school premises.</th>
                                            <td>1</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">I am having my child accompanied by a special nursemaid under the condition that I provide the necessary medical and/or psychological assessment and certification of a licensed physician/doctor (for children with special needs).</th>
                                            <td>4</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">I have commissioned a shuttle service that would bring my child to and fetch my child from school.</th>
                                            <td>2</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">My child is not to receive any parcel or package without me informing the school authorities first.</th>
                                            <td>5</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">The only people authorized to fetch my child are the ones whose names are indicated in this form.</th>
                                            <td>3</td>
                                            <td>
                                                <a href="documents_editStudentAgreement.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>