{{!-- This is for viewing all of the student documents, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <p class="font-weight-bold">Documents Required</p>
                                    </div>
                                    
                                    <div class="col-6 mt-3">
                                        <a href="documents_newStudentDocuments.html" class="btn btn-primary">New Document</a>
                                    </div>
                                </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Document Name</th>
                                            <th scope="col">Order Arrangement</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">official transcript of records from the previous school with the official grading system and with English translation, bearing the original signature of the registrar and the school seal. (with DFA Red Ribbon)</th>
                                            <td>17</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 x 1 Picture</th>
                                            <td>5</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Accomplished BIS Application Form</th>
                                            <td>13</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Birth Certificate (Original)</th>
                                            <td>1</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Form 137</th>
                                            <td>3</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Form 138 (Report Card)</th>
                                            <td>6</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Good Moral Certificate</th>
                                            <td>2</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Medical Certificate</th>
                                            <td>9</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Photocopy of passport and visa</th>
                                            <td>14</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Proof of financial capacity (for Grade 7 ESC applicants)</th>
                                            <td>8</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">QVR Certificate and/or JHS Completion Certificate (for incoming SHS)</th>
                                            <td>7</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Recommendation Form</th>
                                            <td>4</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">SSP – Student Study Permit</th>
                                            <td>15</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Translated/authenticated Certification of Enrollment</th>
                                            <td>12</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Translated/authenticated Certification of Graduation</th>
                                            <td>11</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Translated/authenticated Student Record</th>
                                            <td>10</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Two (2) photocopies of authenticated</th>
                                            <td>16</td>
                                            <td>
                                                <a href="documents_editStudentDocuments.html" class="btn btn-outline-primary">Edit</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>