{{!-- This is for viewing all of the student's tuition fees, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <p class="font-weight-bold">Tuition Fees</p>
                                        School Year:
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    2020-2021
                                                </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">2019-2020</a>
                                                <a class="dropdown-item" href="#">2018-2019</a>
                                                <a class="dropdown-item" href="#">2017-2018</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Grade Level</th>
                                            <th scope="col">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Junior Casa</th>
                                            <td>Php 23,835.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Senior Casa</th>
                                            <td>Php 23,835.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Advanced Casa</th>
                                            <td>Php 23,835.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 1</th>
                                            <td>Php 23,153.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 2</th>
                                            <td>Php 23,730.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 3</th>
                                            <td>Php 24,360.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 4</th>
                                            <td>Php 25,200.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 5</th>
                                            <td>Php 26,250.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 6</th>
                                            <td>Php 25,802.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 7</th>
                                            <td>Php 26,093.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 8</th>
                                            <td>Php 26,198.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 9</th>
                                            <td>Php 25,956.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 10</th>
                                            <td>Php 25,956.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 11</th>
                                            <td>Php 33,500.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade 12</th>
                                            <td>Php 33,500.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>