{{!-- This is for adding a class, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
								<h1 class="display-4 text-center">New Class Schedule</h1>
							</div>
							<div class="container">
								<form>
									<div class="form-group">
                                        <label for="formGroupExampleInput2">Grade Level</label>
                                        <br>
                                        <select name="grade_level_id" id="search_category_id" class="form-control valid" onchange="myFunction2()" required> 
                                            <option value="2"> Junior Casa - Pre-School </option>
                                            <option value="3"> Senior Casa - Pre-School </option>
                                            <option value="16"> Advance Casa - Pre-School </option>
                                            <option value="4"> Grade 1 - Grade School </option>
                                            <option value="5"> Grade 2 - Grade School </option>
                                            <option value="6"> Grade 3 - Grade School </option>
                                            <option value="7"> Grade 4 - Grade School </option>
                                            <option value="8"> Grade 5 - Grade School </option>
                                            <option value="9"> Grade 6 - Grade School </option>
                                            <option value="10"> Grade 7 - Junior High School </option>
                                            <option value="11"> Grade 8 - Junior High School </option>
                                            <option value="12"> Grade 9 - Junior High School </option>
                                            <option value="13"> Grade 10 - Junior High School </option>
                                            <option value="14"> Grade 11 - Senior High School </option>
                                            <option value="15"> Grade 12 - Senior High School </option>                            
                                        </select>
									</div>
									<div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 1</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 2</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 3</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 4</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 5</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 6</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 7</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 8</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 9</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 10</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput"><b>Subject 11</b></label>
                                        <br>
										<div class="row">
                                            <div class="form-group col-4">
                                                <label for="formGroupExampleInput2">Subject Code</label>
                                                <input type="text" class="form-control" id="address" placeholder="" value="">
                                            </div>
                                        </div>
                                        <label for="formGroupExampleInput2">Subject Name</label>
										<input type="text" class="form-control w-75" id="formGroupExampleInput2" placeholder="Name">
                                    </div>
                                    <br>
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-6 mb-5 d-flex justify-content-end">
                                                <button type="button" class="btn btn-outline-primary mb-4" data-toggle="modal" data-target="#exampleModal">Submit</button>
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            New Class Sched Added
                                                            
                                                            

                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 d-flex justify-content-start">
                                                <a href="sched_classSched.html" class="btn btn-outline-secondary" style="margin-bottom: 71px;">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>