{{!-- This is for viewing all events from the academic calendar, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                        <div class="container bg-light">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <br>
                                    <p class="display-5 text-center font-weight-bold">Academic Calendar
                                    </p>
                                </div>
                                <div class="col-12">
                                    School Year:
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                2020-2021
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">2020-2021</a>
                                            <a class="dropdown-item" href="#">2019-2020</a>
                                            <a class="dropdown-item" href="#">2018-2019</a>
                                            <a class="dropdown-item" href="#">2017-2018</a>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="col-12">
                                    <a href="sched_newAcademicCalendar.html" class="btn btn-primary">New Event</a>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <table class="table table-bordered bg-light">
                                <thead class="thead-primary">
                                    <th class="text-center" colspan="5"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col" class="text-left">Category</th>
                                        <th scope="col" class="text-left">Description</th>
                                        <th>Date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Independence Day</td>
                                        <td class="text-left">12 Jun 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Eid al-Adha</td>
                                        <td class="text-left">31 Jul 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Ninoy Aquina Day</td>
                                        <td class="text-left">21 Aug 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">Start of Teaching and Learning Activities</td>
                                        <td class="text-left">24 Aug 2020 Mon</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academix - Primary Education</th>
                                        <td class="text-left">Start of Teaching and Learning Activites</td>
                                        <td class="text-left">21 Aug 2020 Mon</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">National Heroes' Day</td>
                                        <td class="text-left">31 Aug 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">Ninoy Aquina Day</td>
                                        <td class="text-left">15-16 Oct 2020 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Secondary Education</th>
                                        <td class="text-left">1st Quarter Exams</td>
                                        <td class="text-left">15-16 Oct 2020 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Ninoy Aquina Day</td>
                                        <td class="text-left">02 Nov 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">All Saints' Day</td>
                                        <td class="text-left">01 Nov 2020 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">All Soul's Day</td>
                                        <td class="text-left">02 Nov 2020 Sat</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Bonifacio Day</td>
                                        <td class="text-left">30 Nov 2020 Sat</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Feast of the Immaculate Conception of Mary</td>
                                        <td class="text-left">8 Dec 2020 Tue</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">2nd Quarter Exams</td>
                                        <td class="text-left">10-11 Dec 2020 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Secondary Education</th>
                                        <td class="text-left">2nd Quarter Exams</td>
                                        <td class="text-left">10-11 Dec 2020 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Start of Christmas Break</td>
                                        <td class="text-left">19 Dec 2020 Sun</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">New Year's Day</td>
                                        <td class="text-left">01 Jan 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">Start of Classes</td>
                                        <td class="text-left">04 Jan 2021 Mon</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Secondary Education</th>
                                        <td class="text-left">Start of Classes</td>
                                        <td class="text-left">04 Jan 2021 Mon</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Chinese New Year</td>
                                        <td class="text-left">12 Feb 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academics - Primary Education</th>
                                        <td class="text-left">3rd Quarter Exams</td>
                                        <td class="text-left">24 & 26 Feb 2021 Wed & Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academics - Secondary Education</th>
                                        <td class="text-left">3rd Quarter Exams</td>
                                        <td class="text-left">24 & 26 Feb 2021 Wed & Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">EDSA Revolution Anniversary</td>
                                        <td class="text-left">25 Feb 2021 Thu</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Maundy Thursday</td>
                                        <td class="text-left">01 Apr 2021 Thu</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Good Friday</td>
                                        <td class="text-left">02 Apr 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Araw ng Kagitingan</td>
                                        <td class="text-left">09 Apr 2021 Thu</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">4th Quarter Exams</td>
                                        <td class="text-left">22-23 Apr 2021 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Secondary Education</th>
                                        <td class="text-left">4th Quarter Exams</td>
                                        <td class="text-left">22-23 Apr 2021 Thu-Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Primary Education</th>
                                        <td class="text-left">Last Day of the School Year</td>
                                        <td class="text-left">30 Apr 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Academic - Secondary Education</th>
                                        <td class="text-left">Last Day of the School Year</td>
                                        <td class="text-left">30 Apr 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Labor Day</td>
                                        <td class="text-left">01 May 2021 Fri</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Holidays</th>
                                        <td class="text-left">Chinese New Year</td>
                                        <td class="text-left">25 Jan 2021 Sat</td>
                                        <td>
                                            <a href="sched_editAcademicCalendar.html" class="btn btn-outline-primary">Edit</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br><br>
                        </div>

                    </div>
                </div>


            </div>
        </div>