{{!-- This is for viewing all of the students, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

<div class="col-9">
    <div class="shadow">
        <div class="d-flex flex-column mt-2 bg-light">
            <div class="container">
                <div class="form-group row m-3">
                    <label for="a_u_ST_schoolYear"
                        class="col-3 d-flex justify-content-center align-items-center m-0">School Year:</label>
                    <select class="form-control col-9 p-0 m-0 dropdown-schoolYear" id="schoolYear">
                        {{#if (getBool schoolYear)}}
                        <option value="{{SYSettings}}">{{SYSettings}}--selected</option>
                        {{#each schoolYear}}
                        {{>dropdownOpt this}}
                        {{/each}}
                        {{else}}
                        <option value="">--School Year--</option>
                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="mt-2">

                {{#each list}}
                {{>a_s_VC_subjects this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>


</div>
</div>