{{!-- This is for viewing the profile of a parent, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-5">
                     <div class="list-group mt-2 shadow bg-light">

                        <div class="mt-2">
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Basic Information</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">First Name</th>
                                            <td class="text-left">Andre Emmanuel</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Last Name</th>
                                            <td class="text-left">Garcia</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Middle Name</th>
                                            <td class="text-left">Servillon</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Gender</th>
                                            <td class="text-left">Male</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Birthday</th>
                                            <td class="text-left">08/08/2001</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Birthplace</th>
                                            <td class="text-left">Manila City</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                            

                            <br><br><br>
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Account Information</th>
                                            <th></th>
                                        </tr>
                                    </thead>
    
                                    <tbody>
                                        <tr>
                                            <th class="text-left">User Name</th>
                                            <td class="text-left">18-000001</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Password</th>
                                            <td class="text-left">********</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>



                </div>

                <div class="col-4">
                     <div class="list-group mt-2 shadow bg-light">

                        <div class="mt-2">
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Contact Info</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">Tel No.</th>
                                            <td class="text-left">1234567</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Cell No.</th>
                                            <td class="text-left">09178311218</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Address</th>
                                            <td class="text-left">12 Hello St., Brgy. Acacia, Quezon City, Philippines</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>

                     <div class="list-group mt-2 shadow bg-light">

                        <div class="mt-2">
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Student Info</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">JoJo</th>
                                            <td class="text-left">Grade 10</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Bizzare</th>
                                            <td class="text-left">Grade 7</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Adventure</th>
                                            <td class="text-left">Grade 5</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>

                     <div class="list-group mt-2 shadow bg-light">

                        <div class="mt-2">
                            <div class="shadow">
                                <form>
                                    <div class="container bg-primary p-2">
                                        <h5 class="text-white">Status</h5>
                                    </div>
                                    <div class="form-check form-check-inline m-3">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Active</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Inactive</label>
                                    </div>
                                    <button>Submit</button>
                                </form>
                            </div>
                            
                        </div>

                    </div>

                </div>


            </div>
        </div>