{{!-- This is for viewing a students profile, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                     <div class="list-group mt-2 shadow bg-light">

                        <div class="mt-2">
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Personal Information</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">First Name</th>
                                            <td class="text-left">Shania Nikka</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Last Name</th>
                                            <td class="text-left">Ajoc</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Middle Name</th>
                                            <td class="text-left">Brunel</td>
                                        </tr>

                                        <tr>
                                            <th class="text-left">Grade Level</th>
                                            <td class="text-left">Grade 12</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Gender</th>
                                            <td class="text-left">Female</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Birthday</th>
                                            <td class="text-left">08/08/2001</td>
                                        </tr>

                                        <tr>
                                            <th class="text-left">Age</th>
                                            <td class="text-left">19</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Birthplace</th>
                                            <td class="text-left">Manila City</td>
                                        </tr>

                                        <tr>
                                            <th class="text-left">Nationality</th>
                                            <td class="text-left">Filipino</td>
                                        </tr>
                                        
                                        <tr>
                                            <th class="text-left">Religion</th>
                                            <td class="text-left">Christian</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br><br>
                                <div class="shadow">
                                    <table class="table table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Contact Info</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-left">Tel No.</th>
                                                <td class="text-left">1234567</td>
                                            </tr>
        
                                            <tr>
                                                <th class="text-left">Cell No.</th>
                                                <td class="text-left">09178311218</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Email</th>
                                                <td class="text-left">nikka@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">House# / Street / Subd. or Brngy</th>
                                                <td class="text-left">12 Hello St., Brgy. Acacia</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Municipality|Province</th>
                                                <td class="text-left">Quezon City</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            

                            <br><br>
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Family Record</th>
                                            <th></th>
                                        </tr>
                                    </thead>
    
                                    <tbody>
                                        <tr>
                                            <th class="text-left">Mother's Name</th>
                                            <td class="text-left">Ajoc, Rose J.</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td class="text-left">rose@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Occupation</th>
                                            <td class="text-left">Businesswoman</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Work Address</th>
                                            <td class="text-left"> Makati Stock Exchange, Ayala Tower One Ayala Avenue cor., Paseo de Roxas, Makati, Metro Manila</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Contact Info</th>
                                            <td class="text-left">0945842567</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Father's Name</th>
                                            <td class="text-left">Ajoc, Manny D.</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td class="text-left">manny@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Occupation</th>
                                            <td class="text-left">Businessman</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Work Address</th>
                                            <td class="text-left"> Makati Stock Exchange, Ayala Tower One Ayala Avenue cor., Paseo de Roxas, Makati, Metro Manila</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Contact Info</th>
                                            <td class="text-left">09496731040</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br><br>
                                <div class="shadow">
                                    <table class="table table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Siblings</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-left">Number of Siblings</th>
                                                <td class="text-left">2</td>
                                            </tr>
        
                                            <tr>
                                                <th class="text-left">Brother/Sister Name</th>
                                                <td class="text-left">Samantha B. Ajoc</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Age</th>
                                                <td class="text-left">28</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">School/Occupation</th>
                                                <td class="text-left">Businesswoman</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Brother/Sister Name</th>
                                                <td class="text-left">Jonathan B. Ajoc</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">Age</th>
                                                <td class="text-left">18</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">School/Occupation</th>
                                                <td class="text-left">International School for Better Beginnings</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            
                            <br><br>
                            <div class="shadow">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Contact Person</th>
                                            <th></th>
                                        </tr>
                                    </thead>
    
                                    <tbody>
                                        <tr>
                                            <th class="text-left">Related to</th>
                                            <td class="text-left">Mother</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Name</th>
                                            <td class="text-left">Gary G. Herk</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Relation</th>
                                            <td class="text-left">Family friend</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td class="text-left">gary@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Contact Info</th>
                                            <td class="text-left">0945846734</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Work Address</th>
                                            <td class="text-left">Makati Stock Exchange, Ayala Tower One Ayala Avenue cor., Paseo de Roxas, Makati, Metro Manila</td>
                                        </tr>
    
                                        <tr>
                                            <th class="text-left">Fetcher's Name</th>
                                            <td class="text-left">John Mark Z. Bool</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Contact Info</th>
                                            <td class="text-left">0945671238</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                
                                
    
                                <br><br>
                                <div class="shadow">
                                    <table class="table table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Educational Background</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-left">School Last Attended</th>
                                                <td class="text-left">International School for Better Beginnings</td>
                                            </tr>
        
                                            <tr>
                                                <th class="text-left">Academic Year</th>
                                                <td class="text-left">A.Y. 2019-2020</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">School Last Attended</th>
                                                <td class="text-left">International School for Better Beginnings</td>
                                            </tr>
        
                                            <tr>
                                                <th class="text-left">Academic Year</th>
                                                <td class="text-left">A.Y. 2018-2019</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left">School Last Attended</th>
                                                <td class="text-left">Chiang Kai Shek College</td>
                                            </tr>
        
                                            <tr>
                                                <th class="text-left">Academic Year</th>
                                                <td class="text-left">A.Y. 2017-2018</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
    
                                <br><br>
                                <div class="shadow">
                                    <table class="table table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Reason for Applying</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">If your goal is to drive your career path onward and upward, a job that would be one or more levels up from where you are employed now would be a smart move. A better title frequently comes with higher pay and more benefits, so landing a job in a higher pay grade than you have now is one of the best reasons to apply.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br><br>
                                <div class="shadow">
                                    <table class="table table-bordered">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Student Documents</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>