{{!-- This is for viewing all of the parents, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        School Year:
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    2020-2021
                                                </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">2019-2020</a>
                                                <a class="dropdown-item" href="#">2018-2019</a>
                                                <a class="dropdown-item" href="#">2017-2018</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <form class="form-inline justify-content-end">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
                                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">Status</th>
                                            <th scope="col">User Name</th>
                                            <th scope="col">Parent Name</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000001</th>
                                            <td>Abas, Sajjad</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account <span class="badge badge-danger">!</span></a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000001</th>
                                            <td>Ajoc, Shania Nikka B.</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td> 
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000002</th>
                                            <td>Barte, Gwyn</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account <span class="badge badge-danger">!</span></a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000003</th>
                                            <td>Yusis, Ivan Heilee</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-danger font-weight-bold">INACTIVE</td>
                                            <th scope="row">PA-000004</th>
                                            <td>Tumalian, Pauline</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000005</th>
                                            <td>Prado, Hannah Dorothy</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000006</th>
                                            <td>Polinag, Jomary</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000007</th>
                                            <td>Bautista, Ryan Cristoff</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000008</th>
                                            <td>Recia, Christian Jennace</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000002</th>
                                            <td>Carandang, Antonio Jaoquin</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000009</th>
                                            <td>Banaag, Aidrian Curl</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000010</th>
                                            <td>Balonzo, Julie</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000011</th>
                                            <td>Pabustan, Nishamae</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000012</th>
                                            <td>Ramirez, Kiefer Blake</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_StudentProfile.html" class="btn btn-outline-primary" >View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000013</th>
                                            <td>Balonzo, Junlyn</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000014</th>
                                            <td>Wehbi, Natalia Angeline</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-bold">ACTIVE</td>
                                            <th scope="row">PA-000003</th>
                                            <td>Rocha, Jorge Jr.</td>
                                            <td>
                                                <a href="user_ParentAccount.html" class="btn btn-outline-primary">View Account</a>
                                            </td>
                                            <td>
                                                <a href="user_ParentProfile.html" class="btn btn-outline-primary">View Profile</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>