{{!-- This is for viewing all of the parents, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        School Year:
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    2020-2021
                                                </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">2019-2020</a>
                                                <a class="dropdown-item" href="#">2018-2019</a>
                                                <a class="dropdown-item" href="#">2017-2018</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <form class="form-inline justify-content-end">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
                                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">User Name</th>
                                            <th scope="col">Parent Name</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each parents}}
                                            {{>a_u_ST_parents this}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>