{{!-- This is for viewing all of the teachers, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <form class="form-inline justify-content-end">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search Teachers" aria-label="Search">
                                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    Show
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                20
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">50</a>
                                            <a class="dropdown-item" href="#">100</a>
                                            <a class="dropdown-item" href="#">150</a>
                                        </div>
                                    </div>
                                    Entries
                                </div>

                            </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-primary">
                                        <tr>
                                            <th scope="col">User Name</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Created on</th>
                                            <th scope="col"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each teachers}}
                                            {{>a_u_ST_teachers this}}
                                        {{/each}}
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-end m-2">
                                        <li class="page-item"><a class="page-link text-primary" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link text-primary" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link text-primary" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link text-primary" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link text-primary" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>