{{!-- This is for viewing the accounts of all of the parent's children, Admin --}}

{{>a_navbar}}
{{>a_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                <div class="mt-1">
                                    School Year
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                2020-2021
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">2019-2020</a>
                                            <a class="dropdown-item" href="#">2018-2019</a>
                                            <a class="dropdown-item" href="#">2017-2018</a>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    Student
                                    <div class="btn-group"> 
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Dropdown
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Jojo's</a>
                                            <a class="dropdown-item" href="#">BIzzare</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                            <a class="dropdown-item" href="#">:)</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <div class="col-8">
                                        <table class="table table-bordered">
                                            <thead class="thead-primary">
                                                <tr>
                                                    <th class="text-center" colspan="2">Transaction Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>School Year:</td>
                                                    <td>2019-2020</td>
                                                </tr>
                                                <tr>
                                                    <td>Grade Level Classification:</td>
                                                    <td>Senior Highschool</td>
                                                </tr>
                                                <tr>
                                                    <td>Grade Level:</td>
                                                    <td>12</td>
                                                </tr>
                                                <tr>
                                                    <td>Student No:</td>
                                                    <td>18-000002</td>
                                                </tr>
                                                <tr>
                                                    <td>Admin Name:</td>
                                                    <td>Ajoc, Shania Nikka Bermas</td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Method:</td>
                                                    <td>Bank Statement</td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Type:</td>
                                                    <td>Full</td>
                                                </tr>
                                                <tr>
                                                    <td>Initial Payment:</td>
                                                    <td>Php 0.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Beginning Balance</td>
                                                    <td class="table-success">Php 0.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div col="12">
                                        <table class="table table-bordered">
                                            <thead class="thead-primary">
                                                <tr>
                                                    <th scope="col">Penalty Amount</th>
                                                    <th scope="col">Paid Amount</th>
                                                    <th scope="col">Remaining Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Php 0.00</td>
                                                    <td>Php 33,500.00</td>
                                                    <td>Php 0.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br><br>
                                        <table class="table table-bordered">
                                            <thead class="thead-primary">
                                                <tr>
                                                    <th class="text-center" colspan="4">Transaction History Balance</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Due Date</th>
                                                    <th scope="col">Paid Amount</th>
                                                    <th scope="col">Balance Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-success">
                                                    <td>Upon Enrollment</td>
                                                    <td></td>
                                                    <td>Php 0.00</td>
                                                    <td>Php 0.00</td>
                                                </tr>
                                                <tr class="table-warning">
                                                    <td>Total/Current Balance</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Php 0.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br><br>
                                        <table class="table table-bordered">
                                            <thead class="thead-primary">
                                                <tr>
                                                    <th class="text-center" colspan="6">Transaction History Payment</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Fee Type</th>
                                                    <th scope="col">OR #</th>
                                                    <th scope="col">AR #</th>
                                                    <th scope="col">Remark</th>
                                                    <th scope="col">Date Issue</th>
                                                    <th scope="col">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Tuition Fee</td>
                                                    <td>3004</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>05-07-2020</td>
                                                    <td>Php 33,500.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="text-right font-weight-bold">Total Paid Amount</td>
                                                    <td class="font-weight-bold">Php 33,500.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br><br>
                                        <div class="d-flex border justify-content-center">
                                            <a href="user_Student.html" class="btn btn-primary btn-lg btn-block">Back</a>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
