{{!-- this is for the login page, users --}}
    
    <div id="login">
		<div id="login-form">
			<form>
				<input type="String" id="id" name="userID" placeholder="User ID">
				<br>
				<input type="password" id="pword" name="password" placeholder="Password">
				<br>
				<button type="button" id="submitLogin"><b>Login</b></button>
			</form>
			<br>
				<p class="text-white">Apply now by following this link</p>
				<a href="/enroll" class="text-primary">Enroll here</a>
		</div>
	</div>