{{!-- this is for the login page, users --}}
    
    <div id="login">
		<div id="login-form" method="post">
			<form>
				<input type="String" id="id" name="userID" placeholder="User ID">
				<br>
				<input type="password" id="pword" name="password" placeholder="Password">
				<br>
				<button type="button" id="submitLogin"><b>Login</b></button>
			</form>
		</div>
	</div>