{{!-- This is for selecing a payment plan for enrollment (bank), Parents --}}

{{>p_navbar}}
{{>p_sidebar}}

                <div class="col-9">
                    <div class="d-flex flex-column mt-2">
                        <div class="shadow">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h1 class="display-5 text-center font-weight-bold">Enroll in Regis-Grace Montessori School
                                        </h1>
                                        <div class="row justify-content-center">
                                            <h5 class="display-5 text-center font-weight-light">Please follow the instructions below</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="container">
                                    <form>
                                        <div class="form-group">
                                            <label for="sel1">Student:</label>
                                            <select class="form-control" id="sel1">
                                              <option>JoJo</option>
                                              <option>Bizare</option>
                                              <option>Adventure</option>
                                              <option>:)</option>
                                            </select>
                                        </div>
                                        <p>Please Select a payment type:</p>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                              Full
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                              Semestral
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                                            <label class="form-check-label" for="exampleRadios3">
                                              Trimestral
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                                            <label class="form-check-label" for="exampleRadios3">
                                              Quarterly
                                            </label>
                                          </div>
                                          <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                                            <label class="form-check-label" for="exampleRadios3">
                                              Monthly
                                            </label>
                                          </div>
                                          <br>
                                          <a href="enroll_bankStatement.html" class="btn btn-outline-primary mb-4">Next</a>
                                    </form>
                                    <!-- <h5 class="display-5 text-left">Registrar</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">You may pay for enrollment by visiting our school registrar and pay in either cash or check, you may ask our staff for directions if needed</p>
                                    <hr style="border: 2px solid black;" /> -->
                                    <!-- <h5 class="display-5 text-left">Enrollment Assessment Form</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">Please download your Enrollment Assessment Form as it is needed to pay for enrollment</p>
                                    <button type="submit" class="btn btn-outline-primary mb-4">Download</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>