{{!-- This is for paying for enrollment (bank), Parents --}}

{{>p_navbar}}
{{>p_sidebar}}

                <div class="col-9">
                     <div class="list-group mt-2 shadow bg-light">
                        <div class="shadow">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <h1 class="display-5 text-center font-weight-bold">Enroll in Regis-Grace Montessori School
                                        </h1>
                                        <div class="row justify-content-center">
                                            <h5 class="display-5 text-center font-weight-light">Please follow the instructions below</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="container">
                                    <form>
                                        <h5 class="display-5 text-left">Online Payment</h5>
                                        <hr style="border: 2px solid black;" />
                                        <p class="">Step 1 : Please Input your Bank Info</p><br>
                                        {{!-- <p class="">Step 2 : Please Input the appropriate amount</p><br> --}}
                                        {{!-- <p class="">Step 3 : Upload virtual reciept</p><br> --}}
                                        <!-- <p class="">Note replace text for card type with images</p><br> -->
                                        <div class="form-group">
                                            <!-- <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Discover</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">AMEX</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Other</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Fill up if other</label>
                                                <input type="text" class="form-control w-25" id="formGroupExampleInput2" placeholder="">
                                            </div> -->
                                        </div>
                                        <div class="form-group w-50">
                                            <label for="accountNumber">Account Number</label>
                                            <input type="text" class="form-control" id="accountNumber" placeholder="" required>
                                        </div>
                                        <div class="form-group w-50">
                                            <label for="accountName">Account Holder</label>
                                            <input type="text" class="form-control" id="accountName" placeholder="" required>
                                        </div>
                                        <div class="form-group w-25">
                                            <label for="amountPaid">Amount</label>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">PHP</div>
                                                </div>
                                            <input type="number" class="form-control" id="amountPaid" placeholder="0.00" value="{{amountDue}}" required readonly>
                                            </div>
                                        </div>
                                        <a id="submitBankPayment" class="btn btn-outline-primary mb-4">Pay</a>
                                    </form>
                                    <!-- <h5 class="display-5 text-left">Registrar</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">You may pay for enrollment by visiting our school registrar and pay in either cash or check, you may ask our staff for directions if needed</p>
                                    <hr style="border: 2px solid black;" /> -->
                                    <!-- <h5 class="display-5 text-left">Enrollment Assessment Form</h5>
                                    <hr style="border: 2px solid black;" />
                                    <p class="">Please download your Enrollment Assessment Form as it is needed to pay for enrollment</p>
                                    <button type="submit" class="btn btn-outline-primary mb-4">Download</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>