{{!-- This is for viewing the breakdown details for all the parent's children, Parents --}}

{{>p_navbar}}
{{>p_sidebar}}

                <div class="col-9">
                    <div class="d-flex flex-column mt-2">
                        <div class="container">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <p class="display-5 text-center font-weight-bold">Breakdown Details as A.Y. 2020-2021
                                    </p>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="sel1">Academic Year:</label>
                                <select class="form-control" id="sel1">
                                  <option>2019-2020</option>
                                  <option>2018-2019</option>
                                  <option>2017-2018</option>
                                  <option>2016-2017</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="sel1">Student:</label>
                                <select class="form-control" id="sel1">
                                  <option>JoJo</option>
                                  <option>Bizare</option>
                                  <option>Adventure</option>
                                  <option>:)</option>
                                </select>
                            </div>
                        </form>
                        <div class="mt-2">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="2">Student Information</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-right">Student No:</th>
                                        <td class="text-left">18-696969</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Parent Name:</th>
                                        <td class="text-left">Kevin</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Grade Level/Section:</th>
                                        <td class="text-left">Grade-11 - GAS-Ruby</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="4">Breakdown Details Balance</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td class="text-center">Due Date</td>
                                        <td class="text-center">Paid Amount</td>
                                        <td class="text-center">Balance Amount</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Upon Enrollment</td>
                                            <td></td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 6700.00</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of July </td>
                                            <td class="text-right">Jun 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of August</td>
                                            <td class="text-right">Jul 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of September</td>
                                            <td class="text-right">Aug 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of October</td>
                                            <td class="text-right">Sep 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of November</td>
                                            <td class="text-right">Oct 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of December</td>
                                            <td class="text-right">Nov 15, 2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of January</td>
                                            <td class="text-right">Dec 15,2020</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of February</td>
                                            <td class="text-right">Jan 15, 2021</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Month of March</td>
                                            <td class="text-right">Feb 15, 2021</td>
                                            <td class="text-right">Php 0.00</td>
                                            <td class="text-right">Php 2977.88</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Total/Current Balance: </td>
                                            <td class="text-right" colspan="3">Php 33,500.00</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <p class="text-center font-italic">Your Account Balance is
                                    <span class="font-weight-bold">Php 18,611.12</span>, please make your payment on or before the Due Date
                                    <span class="font-weight-bold">Sep 15, 2020</span>
                                </p>
                                <p class="text-center text-uppercase">Please disregard notice if payment is made. Thank you.</p>
                            </div>

                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="6">Breakdown Details Payment</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Fee Type</td>
                                        <td class="text-center">OR#</td>
                                        <td class="text-center">AR#</td>
                                        <td class="text-center">Remarks</td>
                                        <td class="text-center">Date Issue</td>
                                        <td class="text-center">Paid Amount</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="5">Total Paid Amount</td>
                                        <td class="text-right">Php 0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div>
        </div>