{{!-- This is for viewing the student's grades, Students --}}

{{>s_navbar}}
{{>s_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
    
                                </div>
                                <div class="mt-1">
                                    Grade Level:
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Grade 10
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Grade 9</a>
                                            <a class="dropdown-item" href="#">Grade 8</a>
                                            <a class="dropdown-item" href="#">Grade 7</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <p class="font-weight-bold">Legend:</p>
                                    <p class="ml-3">Advanced(A) : 90% and above</p>
                                    <p class="ml-3">Proficient(P) : 85% - 89%</p>
                                    <p class="ml-3">Approaching Proficiency(AP) : 80% - 84%</p>
                                    <p class="ml-3">Developing(D) : 75% - 79%</p>
                                    <p class="ml-3">Beginning(B) : 74% and below</p>
                                </div>
                            </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Faculty</th>
                                            <th scope="col" class="text-center">1st</th>
                                            <th scope="col" class="text-center">2nd</th>
                                            <th scope="col" class="text-center">3rd</th>
                                            <th scope="col" class="text-center">4th</th>
                                            <th scope="col" class="text-left">Final</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">Araling Panilipunan</td>
                                            <td class="text-left">Estepa, Joan</td>
                                            <td class="text-center">92</td>
                                            <td class="text-center">93</td>
                                            <td class="text-center">94</td>
                                            <td class="text-center">93</td>
                                            <td class="text-left">93.00</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
    
                                        <tr>
                                            <td class="text-left">English</td>
                                            <td class="text-left">Lumenda, Amelil</td>
                                            <td class="text-center">85</td>
                                            <td class="text-center">80</td>
                                            <td class="text-center">88</td>
                                            <td class="text-center">89</td>
                                            <td class="text-left">85.50</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Filipino</td>
                                            <td class="text-left">Ibasan, Danilo</td>
                                            <td class="text-center">90</td>
                                            <td class="text-center">85</td>
                                            <td class="text-center">88</td>
                                            <td class="text-center">87</td>
                                            <td class="text-left">87.50</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Math</td>
                                            <td class="text-left">Tolentino, Angelique</td>
                                            <td class="text-center">87</td>
                                            <td class="text-center">88</td>
                                            <td class="text-center">90</td>
                                            <td class="text-center">87</td>
                                            <td class="text-left">88</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Science</td>
                                            <td class="text-left">Estepa, Joan</td>
                                            <td class="text-center">80</td>
                                            <td class="text-center">83</td>
                                            <td class="text-center">88</td>
                                            <td class="text-center">90</td>
                                            <td class="text-left">85.25</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Homeroom</td>
                                            <td class="text-left">Estepa, Joan</td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-left"></td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Deportment</td>
                                            <td class="text-left">Estepa, Joan</td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-left"></td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Technology and Home Economics</td>
                                            <td class="text-left">Lumenda, Amelil</td>
                                            <td class="text-center">88</td>
                                            <td class="text-center">84</td>
                                            <td class="text-center">86</td>
                                            <td class="text-center">85</td>
                                            <td class="text-left">85.75</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Music, Arts, Physical Education, and Health</td>
                                            <td class="text-left">Taguilid, Ruel</td>
                                            <td class="text-center">90</td>
                                            <td class="text-center">87</td>
                                            <td class="text-center">89</td>
                                            <td class="text-center">91</td>
                                            <td class="text-left">89.25</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Education sa Pagpapakatao</td>
                                            <td class="text-left">Gonzada, Ederlina</td>
                                            <td class="text-center">85</td>
                                            <td class="text-center">83</td>
                                            <td class="text-center">87</td>
                                            <td class="text-center">85</td>
                                            <td class="text-left">85</td>
                                            <td class="text-success">PASSED</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="text-right font-weight-bold">GWA : 87.406</td>
                                            <td class="text-success font-weight-bold">PASSED</td>
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
                </div>


            </div>
        </div>