{{!-- This is for viewing the statement of accounts for the student, Students --}}

{{>s_navbar}}
{{>s_sidebar}}

                <div class="col-9">
                    <div class="d-flex flex-column mt-2">
                        <div class="container">
                            <div class="row mt-2">
                                <div class="col-12">
                                    <p class="display-5 text-center font-weight-bold">Statement of Account as A.Y. 2020-2021
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="mt-2">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="2">Student Information</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-right">Student No:</th>
                                        <td class="text-left">18-696969</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Student Name:</th>
                                        <td class="text-left">Kevin</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right">Grade Level/Section:</th>
                                        <td class="text-left">Grade-11 - GAS-Ruby</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <th class="text-center" colspan="2">Payment Information</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Total Assessment Amount:</th>
                                        <td class="text-left">Php 33,500.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cash Discount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Discount Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Paid Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cash Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Cheque Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Penalty Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Balance Amount:</th>
                                        <td class="text-left">Php 33,500.00</td>
                                    </tr>
                                    <tr>
                                        <th>Voucher Amount:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                    <tr>
                                        <th>Mode of Payment:</th>
                                        <td class="text-left">Monthly</td>
                                    </tr>
                                    <tr>
                                        <th>Beginning Balance:</th>
                                        <td class="text-left">Php 0.00</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>