{{!-- This is for viewing the teachers schedule, Teachers --}}

{{>t_navbar}}
{{>t_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <p class="display-5 text-center font-weight-bold">Class Schedule at Regis-Grace Montessori School
                                        </p>
                                    </div>
    
                                </div>
                            </div>
                            <div class="mt-2">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <th class="text-center" colspan="5">Curriculum Subjects (M,W,F)</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="col" class="text-left">Time</th>
                                            <th scope="col" class="text-left">Subject Code</th>
                                            <th scope="col" class="text-left">Subject Name</th>
                                            <th scope="col" class="text-left">Grade Level</th>
                                            <th scope="col" class="text-left">Room</th>
                                        </tr>
                                        <tr>
                                            <td class="text-left">8:00-9:15 A.M.</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Grade 10</td>
                                            <td class="text-left">Room A</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">9:15-9:45 A.M.</td>
                                            <td></td>
                                            <td class="text-left">Break Time</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">9:45-10:30 A.M.</td>
                                            <td class="text-left">ENG</td>
                                            <td class="text-left">English</td>
                                            <td class="text-left">Grade 7</td>
                                            <td class="text-left">Room B</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">10:30-11:15 A.M.</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Grade 8</td>
                                            <td class="text-left">Room C</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">11:15-12:30 P.M.</td>
                                            <td></td>
                                            <td class="text-left">Lunch</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">12:30-1:30 P.M.</td>
                                            <td class="text-left">ENG</td>
                                            <td class="text-left">English</td>
                                            <td class="text-left">Grade 9</td>
                                            <td class="text-left">Room D</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">1:30-2:30 P.M.</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Grade 9</td>
                                            <td class="text-left">Room E</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">2:30-3:30 P.M.</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Oral Communication</td>
                                            <td class="text-left">Grade 7</td>
                                            <td class="text-left">Room G</td>
                                        </tr>
                                    </tbody>
                                </table>
    
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <th class="text-center" colspan="5">Curriculum Subjects (Tu, Th)</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="col" class="text-left">Time</th>
                                            <th scope="col" class="text-left">Subject Code</th>
                                            <th scope="col" class="text-left">Subject Name</th>
                                            <th scope="col" class="text-left">Teacher</th>
                                            <th scope="col" class="text-left">Room</th>
                                        </tr>
                                        <tr>
                                            <td class="text-left">8:00-9:15 A.M.</td>
                                            <td class="text-left">ENG</td>
                                            <td class="text-left">English</td>
                                            <td class="text-left">Grade 10</td>
                                            <td class="text-left">Room A</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">9:15-9:45 A.M.</td>
                                            <td></td>
                                            <td class="text-left">Break Time</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">9:45-10:30 A.M.</td>
                                            <td class="text-left">ENG</td>
                                            <td class="text-left">English</td>
                                            <td class="text-left">Grade 8</td>
                                            <td class="text-left">Room B</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">10:30-11:15 A.M.</td>
                                            <td class="text-left">E.A.P.P</td>
                                            <td class="text-left">English for Academic and Professional Purposes</td>
                                            <td class="text-left">Grade 11 ABM</td>
                                            <td class="text-left">Room C</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">11:15-12:30 P.M.</td>
                                            <td></td>
                                            <td class="text-left">Lunch</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">12:30-1:30 P.M.</td>
                                            <td class="text-left">E.A.P.P</td>
                                            <td class="text-left">English for Academic and Professional Purposes</td>
                                            <td class="text-left">Grade 11 GAS</td>
                                            <td class="text-left">Room D</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">1:30-2:30 P.M.</td>
                                            <td class="text-left">E.A.P.P</td>
                                            <td class="text-left">English for Academic and Professional Purposes</td>
                                            <td class="text-left">Grade 12 ABM</td>
                                            <td class="text-left">Room G</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">2:30-3:30 P.M.</td>
                                            <td class="text-left">E.A.P.P</td>
                                            <td class="text-left">English for Academic and Professional Purposes</td>
                                            <td class="text-left">Grade 12 GAS</td>
                                            <td class="text-left">Room G</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
    
                        </div>
                    </div>
                </div>


            </div>
        </div>