{{!-- This is for viewing the students grades, Teachers --}}

{{>t_navbar}}
{{>t_sidebar}}

                <div class="col-9">
                    <div class="shadow">
                         <div class="list-group mt-2 shadow bg-light">
                            <div class="mt-2">
                                <br>
                                <div class="mt-4 col-6">
                                    Grade Level
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Grade 11 - English
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Grade 11 - English</a>
                                            <a class="dropdown-item" href="#">Grade 11 - Oral Communications</a>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="font-weight-bold">Legend:</p>
                                        <p class="ml-3">Advanced(A) : 90% and above</p>
                                        <p class="ml-3">Proficient(P) : 85% - 89%</p>
                                        <p class="ml-3">Approaching Proficiency(AP) : 80% - 84%</p>
                                        <p class="ml-3">Developing(D) : 75% - 79%</p>
                                        <p class="ml-3">Beginning(B) : 74% and below</p>
                                    </div>
                                </div>
                                <br>
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Student Number</th>
                                            <th scope="col">Teacher Name</th>
                                            <th scope="col" class="text-center">1st</th>
                                            <th scope="col" class="text-center">2nd</th>
                                            <th scope="col" class="text-center">3rd</th>
                                            <th scope="col" class="text-center">4th</th>
                                            <th scope="col" class="text-left">Final</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-left">18-000001</td>
                                            <td class="text-left">Abas, Sajjad</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
    
                                        <tr>
                                            <td class="text-left">18-000002</td>
                                            <td class="text-left">Barte, Gwyn</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000003</td>
                                            <td class="text-left">Yusis, Ivan Heilee</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000004</td>
                                            <td class="text-left">Tumalian, Pauline</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000005</td>
                                            <td class="text-left">Prado, Hannah Dorothy</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000006</td>
                                            <td class="text-left">Polinag, Jomary</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000007</td>
                                            <td class="text-left">Bautista, Ryan Cristoff</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000008</td>
                                            <td class="text-left">Recia, Christian Jennace</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000009</td>
                                            <td class="text-left">Banaag, Aidrian Curl</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000010</td>
                                            <td class="text-left">Balonzo, Julie</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000011</td>
                                            <td class="text-left">Pabustan, Nishamae</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000012</td>
                                            <td class="text-left">Ramirez, Kiefer Blake</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000013</td>
                                            <td class="text-left">Balonzo, Junlyn</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">18-000014</td>
                                            <td class="text-left">Wehbi, Natalia Angeline</td>
                                            <td>
                                                <input type="text" class="w-75 form-control" value = "92.00" readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control" >
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td>
                                                <input type="text" class="w-75 form-control"  readonly>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-12 mb-5 d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-dark mb-4" data-toggle="modal" data-target="#exampleModal">Update</button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                                Student's Grades have been updated
                                                
                                                

                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>


            </div>
        </div>